<div class="flex flex-col ml-10">

    <!-- Introduction -->
    <div class="flex items-center justify-center bg-blue-100 p-4 h-[90vh]">
      <div class="text-center">
        <!-- Espace pour le logo -->
        <div class="mb-4">
          <img src="../../assets/logo-sga.png" alt="Logo SGA" class="mx-auto" style="height: 100px;"> <!-- Ajustez le chemin et la taille selon vos besoins -->
        </div>
        
        <h2 class="font-bold text-lg mb-4">Mon Stage chez SGA Mobility</h2>
        <p>Stage du 15 Janvier au 27 Février 2024</p>
      </div>
    </div>
    
      
  
    <!-- Présentation SGA rapide-->
    <div class="h-[90vh] flex items-center justify-center bg-green-100 p-4">
      <div>
        <h4 class="font-semibold">1&#41; SGA Industries</h4>
        <p>SGA INDUSTRIES, fondée le 4 octobre 1999, est spécialisée dans la fabrication de bornes de recharge. Avec une expérience de 23 ans, elle s'impose comme un acteur majeur dans la région Normande grâce à son engagement envers l'innovation et la qualité.</p>
      </div>
    </div>
    
    <!-- 1ere -->
    <div class="h-[90vh] flex items-center justify-center bg-green-200 p-4">
      <div>
        <h4 class="font-semibold">3&#41; Mission 1: Changement graphique et passage 'responsive' de la réservation</h4>
        <p>La première mission consistait à rendre la fonction de réservation du site plus attrayante et accessible sur différents appareils, en utilisant HTML, CSS, TypeScript et le framework Angular.</p>
      </div>
    </div>
  
  
    <!-- 2e -->
    <div class="h-[90vh] flex items-center justify-center bg-blue-200 p-4">
      <div>
        <h4 class="font-semibold">4&#41; Mission 2: Ajout de conditions d'accès spécifiques</h4>
        <p>La mission ajoutait des conditions d'affichage spécifiques aux comptes Utilisateurs et Développeurs, pour personnaliser l'expérience utilisateur selon le type de compte.</p>
      </div>
    </div>
    
    <!-- 3eme projet -->
    <div class="h-[90vh] flex items-center justify-center bg-green-300 p-4">
      <div>
        <h4 class="font-semibold">5&#41; Mission 3: Ajout du filtre et liste des favoris</h4>
        <p>La troisième mission enrichissait les fonctionnalités du site par l'ajout d'un filtre et d'une liste de favoris, assurant une expérience utilisateur optimale sur tous les supports.</p>
      </div>
    </div>

    <!-- 3eme projet -->
    <div class="h-[90vh] flex flex-col items-center justify-center bg-blue-300 p-4">
      <div>
        <h4 class="font-semibold">6&#41; Conclusion</h4>
        <p>Mon stage chez SGA INDUSTRIES a été une expérience enrichissante, m'offrant une perspective concrète sur la gestion de projets informatiques et le travail en équipe. J'ai acquis des compétences techniques précieuses et développé des aptitudes professionnelles essentielles pour ma future carrière.</p>
      </div>
      <!-- Attestations -->
      <div class="flex flex-row space-x-4 p-4 justify-center ">
        <a href="../../assets/HBR_attestation_SGA.pdf" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Voir l'attestation de stage</a>
        <a href="../../assets/HBR_attestation_SGA.pdf" download="HBR_attestation_SGA.pdf" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Télécharger l'attestation de stage</a>
      </div>
    </div>
          

</div>
  