<div class="bg-blue-950 text-white h-12 mt-20 flex flex-row items-center justify-between p-1 w-[98.9vw]">
  <h1 class="text-2xl ml-2">Ma veille technologique : Le Pentest</h1>
  <button (click)="toggleModal()" class="mr-2 bg-blue-950 hover:bg-blue-800 border border-white text-white font-bold py-2 px-4 rounded shadow hover:shadow-lg transition duration-200 ease-in-out">
    {{ showModalOutils ? 'Voir veilles' : 'Voir outils' }}
  </button>
</div>

<div class="mt-5 space-y-5 max-w-full p-4">
    @if(showModalOutils){
      <div class="flex flex-col space-y-2 ">
        <div class="flex flex-col space-y-2">
          <div class="border rounded-lg shadow-lg bg-white p-4">
            <div class="flex justify-between">
              <h3 class="text-xl font-bold text-gray-800">X</h3>
              <!-- Emplacement pour l'image, à remplacer par le chemin de l'image réelle lorsque disponible -->
              <img src="path/to/your/image.jpg" alt="X Image" class="w-20 h-20"> 
            </div>
            <p>X est un puissant outil de microblogging qui permet aux utilisateurs de rester informés sur une variété de sujets en temps réel. En suivant les bons comptes, hashtags, et listes, vous pouvez obtenir des mises à jour instantanées sur les dernières actualités, tendances, et discussions dans votre domaine d'intérêt.</p>
            <div class="flex justify-between items-center mt-4">
              <h3 class="text-xl font-bold text-gray-800">7/10</h3>
              <p>Malgré ses robustes fonctionnalités de veille et sa capacité à fournir des informations actualisées, "X" pourrait bénéficier d'une interface plus intuitive et de filtres plus précis pour gérer efficacement le flux d'informations.</p>
            </div>
          </div>
        </div>

        <div class="border rounded-lg shadow-lg bg-white p-4">
          <div class="flex justify-between">
            <h3 class="text-xl font-bold text-gray-800">Google Alert</h3>
            <img src="path/to/your/image.jpg" alt="Google Alert Image" class="w-20 h-20"> <!-- Emplacement pour image -->
          </div>
          <p>Google Alert offre un service de veille automatique qui envoie des notifications par email chaque fois que de nouveaux résultats correspondant à vos termes de recherche spécifiés apparaissent sur le web. Cela inclut des actualités, des articles de blog, et des publications sur des forums, vous permettant de rester à jour sur des sujets ou des mots-clés spécifiques.</p>
          <div class="flex justify-between items-center mt-4">
            <h3 class="text-xl font-bold text-gray-800">6.5/10</h3>
            <p>Ce score reflète la facilité d'utilisation et la pertinence des alertes, bien que l'interface puisse parfois sembler dépassée et que les résultats ne soient pas toujours extrêmement précis.</p>
          </div>
        </div>

        <div class="flex flex-col space-y-2">
          <div class="border rounded-lg shadow-lg bg-white p-4">
            <div class="flex justify-between">
              <h3 class="text-xl font-bold text-gray-800">Feedly</h3>
              <!-- Emplacement pour l'image, à remplacer par le chemin de l'image réelle lorsque disponible -->
              <img src="path/to/your/image.jpg" alt="Feedly Image" class="w-20 h-20"> 
            </div>
            <p>Feedly est un agrégateur de contenu qui centralise les flux RSS de vos sites d'actualité, blogs, et chaînes YouTube préférés en un seul endroit, facilitant le suivi de vos sources d'information favorites sans avoir à visiter plusieurs sites web. C'est un outil essentiel pour organiser et filtrer les contenus selon vos intérêts.</p>
            <div class="flex justify-between items-center mt-4">
              <h3 class="text-xl font-bold text-gray-800">8.5/10</h3>
              <p>Cette note élevée reflète l'excellente capacité de Feedly à organiser et personnaliser les flux d'information, rendant la veille d'actualités et de contenu plus efficace et agréable. Quelques améliorations sur l'intégration de nouvelles sources pourraient le rendre encore plus incontournable.</p>
            </div>
          </div>
        </div>

        <div class="border rounded-lg shadow-lg bg-white p-4">
          <div class="flex justify-between">
            <h3 class="text-xl font-bold text-gray-800">Get Pocket</h3>
            <img src="path/to/your/image.jpg" alt="Get Pocket Image" class="w-20 h-20"> <!-- Emplacement pour image -->
          </div>
          <p>Get Pocket est une application de sauvegarde et de gestion de contenu qui vous permet de stocker des articles, des vidéos, et d'autres contenus web pour les consulter plus tard, hors ligne ou en ligne. Avec ses fonctionnalités de tagging et de recommandation, Pocket aide à découvrir et à organiser des contenus pertinents selon vos intérêts.</p>
          <div class="flex justify-between items-center mt-4">
           <h3 class="text-xl font-bold text-gray-800">7/10</h3>
           <p>La note traduit l'efficacité de Get Pocket dans la gestion des articles à lire plus tard, bien que l'interface utilisateur puisse être améliorée pour une navigation plus intuitive et une meilleure expérience de personnalisation.</p>
        </div>
          </div>
          <div class="border rounded-lg shadow-lg bg-white p-4">
            <div class="flex justify-between">
              <h3 class="text-xl font-bold text-gray-800">Inoreader</h3>
              <img src="path/to/your/image.jpg" alt="Inoreader Image" class="w-20 h-20"> <!-- Emplacement pour image -->
            </div>
            <p>Inoreader est une plateforme de gestion de contenu qui offre aux utilisateurs la capacité de découvrir, suivre, et organiser des flux d'informations en temps réel. Grâce à ses outils de filtrage avancés et à la possibilité de s'abonner à n'importe quel flux RSS, Inoreader transforme la surcharge d'information en un flux organisé de connaissances.</p>
            <div class="flex justify-between items-center mt-4">
              <h3 class="text-xl font-bold text-gray-800">8/10</h3>
              <p>La facilité de filtrage et la richesse des fonctionnalités justifient cette note élevée. Néanmoins, une courbe d'apprentissage initiale pour les nouveaux utilisateurs et des options de personnalisation plus poussées seraient appréciées.</p>
            </div>
          </div>
          <div class="border rounded-lg shadow-lg bg-white p-4">
            <div class="flex justify-between">
              <h3 class="text-xl font-bold text-gray-800">Flipboard</h3>
              <img src="path/to/your/image.jpg" alt="Flipboard Image" class="w-20 h-20"> <!-- Emplacement pour image -->
            </div>
            <p>Flipboard est une application de news et de réseaux sociaux qui compile des nouvelles, des articles, et du contenu de différentes sources pour offrir une expérience de lecture personnalisée. Utilisateurs peuvent créer leurs propres magazines virtuels, rassemblant et partageant les contenus qui les intéressent avec d'autres ou pour leur propre consultation.</p>
            <div class="flex justify-between items-center mt-4">
              <h3 class="text-xl font-bold text-gray-800">7.5/10</h3>
              <p>Cette note reflète l'approche innovante de Flipboard en matière de personnalisation de contenu, bien que certains utilisateurs puissent trouver l'application parfois saturée et souhaiteraient des moyens plus directs de filtrer les contenus moins pertinents.</p>
            </div>
          </div>
      </div>
      
    }
  @else{
      @for (veille of veilles; track veilles) {
        <div class="border rounded-lg shadow-lg bg-white p-4">
          <h3 class="text-xl font-bold text-gray-800">{{ veille.titre }}</h3>
          <div class="flex justify-between mb-2">
              <p class="mt-1 text-gray-600"><strong>Auteur:</strong> {{ veille.auteur }}</p>
              <p class="mt-1 text-gray-600"><strong>Bornage:</strong> {{ veille.bornage }}</p>
          </div>
          <p class="mt-1 text-gray-600">{{ veille.resume }}</p>
          <p class="mt-1 text-gray-600"><strong>Date:</strong> {{ veille.date}}</p>
          <a href="{{ veille.url }}" target="_blank" class="mt-2 inline-block text-blue-500 hover:text-blue-600">Lire la suite</a>
        </div>
      }
    }
</div>
  