<div class="flex flex-col items-center justify-center space-y-8 mt-20 ml-[32vw]">
    <!-- Première paire de boutons pour le Document 1 -->
    <div class="flex flex-row space-x-4 justify-center">
      <a href="../../assets/HBR_attestation_Flazio.pdf" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-52 text-center">Voir l'attestation de stage de Flazio</a>
      <a href="../../assets/HBR_attestation_Flazio.pdf" download="Document1.pdf" class="inline-block bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded w-52 text-center">Télécharger l'attestation de stage de Flazio</a>
    </div>
  
    <!-- Deuxième paire de boutons pour le Document 2 -->
    <div class="flex flex-row space-x-4 justify-center">
      <a href="../../assets/HBR_attestation_SGA.pdf" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-52 text-center">Voir l'attestation de stage de SGA</a>
      <a href="../../assets/HBR_attestation_SGA.pdf" download="Document2.pdf" class="inline-block bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded w-52 text-center">Télécharger l'attestation de stage de SGA</a>
    </div>
  
    <!-- Troisième paire de boutons pour le Document 3 -->
    <div class="flex flex-row space-x-4 justify-center">
      <a href="../../assets/HBR_E4_Tableau_de_synthese.pdf" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-52 text-center">Voir le tableau de synthése</a>
      <a href="../../assets/HBR_E4_Tableau_de_synthese.pdf" download="Document3.pdf" class="inline-block bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded w-52 text-center">Télécharger le tableau de synthése</a>
    </div>
  
    <!-- Quatrième paire de boutons pour le Document 4 -->
    <div class="flex flex-row space-x-4 justify-center">
      <a href="../../assets/HBR_TimeTrack_FDRP_E5_SLAM.pdf" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-52 text-center">Voir FDRP de TimeTrack</a>
      <a href="../../assets/HBR_TimeTrack_FDRP_E5_SLAM.pdf" download="Document4.pdf" class="inline-block bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded w-52 text-center">Télécharger FDRP de TimeTrack</a>
    </div>

        <!-- Cinquième paire de boutons pour le Document 4 -->
        <div class="flex flex-row space-x-4 justify-center">
            <a href="../../assets/HBR_gestionStage_FDRP_E5_SLAM.pdf" target="_blank" class=" inline-block bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded w-52 text-center">Voir FDRP de gestionStage</a>
            <a href="../../assets/HBR_gestionStage_FDRP_E5_SLAM.pdf" download="Document4.pdf" class="inline-block bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded w-52 text-center">Télécharger FDRP de gestionStage</a>
          </div>
  </div>
  