@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

.typing-effect {
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white; /* Le curseur de l'effet d'écriture */
  animation: typing 3.5s steps(40, end), blink-caret .75s infinite;
}
