<div class="flex flex-col ml-10">
    <!-- Introduction et Objectifs du Projet GestionStage -->
    <div class="flex flex-col items-center justify-center bg-blue-300 p-6 h-[90vh]">
      <div class="text-center">
        <h2 class="font-bold mb-4 text-2xl p-4">Introduction au Projet GestionStage</h2>
        <p>Une application web destinée à simplifier la gestion des stages <p>
      </div>
    </div>
  
    <!-- Mise en place et Conception -->
    <div class="h-[90vh] flex  bg-red-300 p-6 flex-col">
      <h4 class="font-semibold text-2xl p-4">Mise en place et Conception</h4>
      <div class="flex flex-col ml-10">
        <p class="text-xl underline">Phase initiale du projet comprenant la configuration des outils de développement et la conception du modèle de données pour optimiser le suivi des stages:</p>
        <ul class="my-4">
          <li>Conception du cas d'utilisation général</li>
          <li>Conception des cas d'utilisations précis</li>
          <li>Conception du modéle des données</li>
          <li>Répartition des taches</li>
          <li>Plannification des missions</li>
        </ul>
        <p class="text-xl underline">Notre environnemment technologique: </p>
        <div class="flex flex-row justify-between">
          <img src="../../assets/Visual_Studio_Code_1.35_icon.svg" alt="Visual Studio Code" class="w-20 h-20 m-4">
          <img src="../../assets/twig.png" alt="Visual Studio Code" class="w-auto h-20 m-4">
          <img src="../../assets/PHP-logo.svg.png" alt="Visual Studio Code" class="w-auto h-20 m-4">
          <img src="../../assets/symfony_black_03.png" alt="Visual Studio Code" class="w-auto h-20 m-4">
          <img src="../../assets/m-sql-serv.png" alt="Visual Studio Code" class="w-auto h-20 m-4">

        </div>

      </div>
    </div>
  
    <!-- Développement et Fonctionnalités Principales -->
    <div class="h-[90vh] flex flex-col  bg-blue-300 p-6">
      <h3 class="font-bold  text-2xl mb-4 p-4 ">Développement et Fonctionnalités Principales</h3>
      <p>Développement de l'interface utilisateur et mise en œuvre des fonctionnalités clés telles que la recherche multicritère d'entreprises et la gestion des dossiers de stage.</p>
      <div class="flex flex-col ml-10">
        <p class="text-xl underline">Fonctionnalités principales:</p>
        <ul class="my-4">
          <li>Recherche multicritère d'entreprises partenaires.</li>
          <li>Gestion des profils utilisateurs avec des rôles spécifiques.</li>
          <li>Gestion des dossiers de stage, incluant la création, la modification et la suppression.</li>
          <li>Suivi des candidatures et des stages en cours.</li>
          <li>Génération de rapports et de statistiques sur les stages.</li>
        </ul>
        </div>
    </div>

  
    <!-- Conclusion et Perspectives -->
    <div class="h-[90vh] flex  bg-red-300 p-6">
      <div class="">
        <h4 class="font-semibold  text-2xl  p-4">Conclusion</h4>
        <p>Le projet GestionStage offre une solution efficace pour la gestion des stages, avec des perspectives d'évolution vers une plateforme plus complète intégrant de nouvelles fonctionnalités.</p>
        <div class="flex flex-col ml-10">
          <p class="text-xl underline">Bilan du projet:</p>
          <ul class="my-4">
            <li>Amélioration de la gestion des stages pour les étudiants, les enseignants et les entreprises.</li>
            <li>Centralisation des informations et facilitation des processus administratifs.</li>
            <li>Création d'une interface utilisateur intuitive et accessible.</li>
          </ul>
          <p class="text-xl underline">Perspectives futures:</p>
      <ul class="my-4">
        <li>Intégration de nouvelles fonctionnalités telles que la gestion des offres de stage.</li>
        <li>Extension des capacités de reporting et d'analyse des données.</li>
        <li>Développement d'une application mobile complémentaire.</li>
        <li>Amélioration continue de la performance et de la sécurité de l'application.</li>
      </ul>
        </div>
      </div>
    </div>
    
  
    <!-- Réflexions et Apprentissages -->
    <div class=" h-[90vh] flex flex-col  bg-blue-300 p-6">
        <h4 class="font-semibold  text-2xl  p-4">Réflexions et Apprentissages</h4>
        <p>La réalisation de ce projet a permis de mettre en pratique des compétences en développement web et de comprendre les enjeux de la gestion de projets informatiques.</p>
        <div class="flex flex-col ml-10">
          <p class="text-xl underline">Compétences acquises:</p>
          <ul class="my-4">
            <li>Maîtrise des technologies web telles que PHP, Symfony, et Twig.</li>
            <li>Conception et gestion de bases de données relationnelles.</li>
            <li>Développement d'applications web respectant les principes MVC.</li>
            <li>Gestion de projet et collaboration en équipe.</li>
          </ul>
          <p class="text-xl underline">Leçons apprises:</p>
          <ul class="my-4">
            <li>Importance de la planification et de la répartition des tâches.</li>
            <li>Nécessité d'une communication efficace au sein de l'équipe.</li>
          </ul>
        </div>

    </div>
    
  </div>
  