<div class="flex flex-col ml-10">
    <!-- Introduction et Objectifs du Projet GestionStage -->
    <div class="flex flex-col items-center justify-center bg-blue-100 p-6 h-[90vh]">
      <div class="text-center">
        <h2 class="font-bold text-lg mb-4">Introduction au Projet GestionStage</h2>
        <p>Une application web destinée à simplifier la gestion des stages pour les étudiants et les entreprises.</p>
      </div>
    </div>
  
    <!-- Mise en place et Conception -->
    <div class="h-[90vh] flex items-center justify-center bg-blue-200 p-6 flex-col">
      <h4 class="font-semibold">Mise en place et Conception</h4>
      <div class="flex flex-row items-center justify-center">
        <p>Phase initiale du projet comprenant la configuration des outils de développement et la conception du modèle de données pour optimiser le suivi des stages.</p>
      </div>
    </div>
  
    <!-- Développement et Fonctionnalités Principales -->
    <div class="h-[90vh] flex flex-col items-center justify-center bg-blue-300 p-6">
      <h3 class="font-bold text-lg mb-4">Développement et Fonctionnalités Principales</h3>
      <p>Développement de l'interface utilisateur et mise en œuvre des fonctionnalités clés telles que la recherche multicritère d'entreprises et la gestion des dossiers de stage.</p>
    </div>
  
    <!-- Intégration et Tests -->
    <div class="h-[90vh] flex flex-col justify-between bg-cyan-400 p-6">
      <div>
        <h4 class="font-semibold">Intégration et Tests</h4>
        <p>Intégration des différents composants du système et réalisation de tests pour assurer la fiabilité et la performance de l'application.</p>
      </div>
    </div>
  
    <!-- Conclusion et Perspectives -->
    <div class="h-[90vh] flex items-center justify-center bg-teal-400 p-6">
      <div class="text-center">
        <h4 class="font-semibold">Conclusion et Perspectives</h4>
        <p>Le projet GestionStage offre une solution efficace pour la gestion des stages, avec des perspectives d'évolution vers une plateforme plus complète intégrant de nouvelles fonctionnalités.</p>
      </div>
    </div>
  
    <!-- Réflexions et Apprentissages -->
    <div class="flex flex-col justify-between items-center bg-red-400 p-6 min-h-[90vh]">
      <div class="mt-[40vh] text-center">
        <h4 class="font-semibold">Réflexions et Apprentissages</h4>
        <p>La réalisation de ce projet a permis de mettre en pratique des compétences en développement web et de comprendre les enjeux de la gestion de projets informatiques.</p>
      </div>
    </div>
  </div>
  