<app-header></app-header>

<div class="flex">
    <app-sidebar></app-sidebar>
    <div class="fixed top-[70px] right-1">
        <app-scrolltop></app-scrolltop>
    </div>
    @if(componentToShow === 'stage'){
        <app-stage></app-stage>
    }
    @if(componentToShow === 'veille'){
        <app-veille></app-veille>
    }
    @if(componentToShow === 'compétences'){
        <app-competences></app-competences>
    }
    @if(componentToShow === 'main'){
        <app-main-content></app-main-content>
    }

    @if(componentToShow === 'document'){
        <app-document></app-document>
    }
    <!--<app-breadcrumb></app-breadcrumb>-->
</div>
