@if(isVisible){
    <aside class="sidebar">
        <div class="sidebar-header">
          Menu
        </div>
        <nav class="flex-col flex">
          <a href="#" class="sidebar-item" (click)="showComponent('main')">Acceuil</a>
          <a href="#" class="sidebar-item" (click)="showComponent('stage')">Stage</a>
          <a href="#" class="sidebar-item" (click)="showComponent('compétences')">Compétences</a>
          <a href="#" class="sidebar-item" (click)="showComponent('veille')">Veille</a>
        </nav>
    </aside>
}

