<div class="pt-28 min-h-screen flex flex-col ">
  <main class="flex-1">
    

    <section id="about" class="py-10 px-4 md:px-8 lg:px-16">
      <h2 class="text-3xl font-semibold mb-4">À propos de moi</h2>
      <p class="text-justify">
        
        À 21 ans, je suis étudiant en BTS SIO spécialité SLAM, mon récent stage en développement web a renforcé ma passion pour la création d'interfaces utilisateur avec JavaScript, HTML, CSS, et Angular. Je suis motivé à me former au développement Back-end et déterminé à continuer d'explorer et contribuer au domaine du développement web.</p>
    </section>

    <div class="ml-20 flex justify-center items-center mb-10 max-w-[90vw] mt-6 ">
      @for(experience of experiences; track experiences ){
        <div class="flex items-center mr-4" (click)="selectExperience(experience.id)" (click)="openModal(experience.id)">
          <div class="w-fit rounded-full h-8  flex items-center justify-center text-sm font-bold p-2"
               [class.bg-gray-300]="selectedExperienceId !== experience.id" 
               [class.bg-blue-500]="selectedExperienceId === experience.id">
            {{ experience.year }}
          </div>
        </div>
        <div class="mr-auto"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></div>
      }
      <div class="font-semibold">CESI</div>
    </div>

    <div class="py-10 px-4 md:px-8 lg:px-16">
      @if(selectedExperienceId){
        @if(this.isModalOpen){
          <app-modal [experienceId]="selectedExperienceId"></app-modal>
       }
      }
    </div>
    <div class="space-y-5">
      <section id="diplomas" class="py-10 px-4 md:px-8 lg:px-16 center text-center  border bg-slate-400 rounded-md mx-40">
        <h2 class="text-3xl font-semibold mb-4 ">Diplômes & Certifications</h2>
        <div>
          <p class="hover:cursor-pointer underline" (click)="toggleImage('moocanssi.png')" >ANSSI</p>
          <p class="hover:cursor-pointer underline" (click)="toggleImage('rgpd.png')" >RGPD</p>
          <p class="hover:cursor-pointer underline" (click)="toggleImage('pix.png')" >PIX</p>
          <p class="hover:cursor-pointer underline" (click)="toggleImage('cmes.png')">CLES Anglais niveau B1</p>
          <p class="hover:cursor-pointer underline" (click)="toggleImage('Bac.png')">Baccalauréat STI2D, option Euro</p>
          
        </div>
        @if(currentImage){
          <img [src]="currentImage" alt="diploma" class="mx-auto mb-4 rounded-md shadow-lg">
          @if(currentImage === "assets/pix.png"){
            <div class="flex flex-row space-x-4 justify-center">
              <a href="../../assets/attestation-pix-20231107.pdf" target="_blank" class="inline-block bg-white text-black py-2 px-4 rounded text-center">Voir l'attestation </a>
            </div>
          }
          @if(currentImage === "assets/moocanssi.png"){
            <div class="flex flex-row space-x-4 justify-center">
              <a href="../../assets/moocanssi.pdf" target="_blank" class="inline-block bg-white text-black py-2 px-4 rounded text-center">Voir l'attestation</a>
            </div>
          }
          @if(currentImage === "assets/cmes.png"){
            <div class="flex flex-row space-x-4 justify-center">
              <a href="../../assets/att_re_Hugo DE BRABANDER.pdf" target="_blank" class="inline-block bg-white text-black py-2 px-4 rounded text-center">Voir l'attestation </a>
            </div>
          }
          @if(currentImage === "assets/Bac.png"){
            <div class="flex flex-row space-x-4 justify-center">
              <a href="../../assets/Hugo_De-Brabander_BAC - Copie.jpg" target="_blank" class="inline-block bg-white text-black py-2 px-4 rounded text-center">Voir le diplome</a>
            </div>
          }
        }
      </section>

      <section id="skills" class="py-10 px-4 md:px-8 lg:px-16  mx-40  border bg-slate-400 rounded-md">
        <h2 class="text-3xl font-semibold mb-4 text-center">Compétences</h2>
        <div class="grid grid-cols-2 gap-4">
          <div class="text-left center border rounded-md bg-slate-300 mr-20 p-8">
            <h3 class="text-lg font-semibold mb-2">Développement Web</h3>
            <ul class="list-none">
              <li class="mb-2">
                <span>HTML</span>
              </li>
              <li class="mb-2">
                <span>CSS</span>
              </li>
              <li class="mb-2">
                <span>Tailwind CSS</span>
              </li>
              <br />

              <li class="mb-2">
                <span>JavaScript</span>
              </li>
              <li class="mb-2">
                <span>TypeScript</span>
              </li>
              <br />
              <li class="mb-2">
                <span>Angular</span>
              </li>
                            
              <li class="mb-2">
                <span>PHP Symfony</span>
              </li>
            </ul>
          </div>
          <div class="text-right border rounded-md bg-slate-300 ml-20 p-8">
            <h3 class="text-lg font-semibold mb-2 ">Bases de données</h3>
            <ul class="list-none">
              <li class="mb-2">
                <span>SQL</span>
              </li>
              <li class="mb-2">
                <span>Transact SQL(trigger & procédure stockée)</span>
              </li>
              <br />
              <li class="mb-2">
                <span>MySQL</span>
              </li>
              <li class="mb-2 ">
                <span>SQL Server</span>
              </li>

            </ul>
          </div>
          <div class="text-left border rounded-md bg-slate-300 mr-20 p-8">
            <h3 class="text-lg font-semibold mb-2">Développement Logiciel</h3>
            <ul class="list-none">
              <li class="mb-2">
                <span>C#</span>
              </li>
              <li class="mb-2">
                <span>.NET</span>
              </li>
            </ul>
          </div>
          <div class="text-right border rounded-md bg-slate-300 ml-20 p-8">
            <h3 class="text-lg font-semibold mb-2">Linguistique</h3>
            <ul class="list-none">
              <li class="mb-2">
                <span>Expression en langue Anglaise B2</span>
              </li>
              <li class="mb-2">
                <span>Compréhension en langue Anglaise B2</span>
              </li>
              <li class="mb-2">
                <span>Bases en Allemands</span>
              </li>
            </ul>
          </div>
        </div>
      </section>


      <section id="soft-skills-interests" class="py-10 px-4  md:flex md:justify-between md:items-start md:px-8 lg:px-44 text-left">
        <div class="mb-8 md:mb-0 rounded-md bg slate-400">
          <h2 class="text-3xl font-semibold mb-4">Soft skills</h2>
          <div class="text-left">
            <p>Créativité</p>
            <p>Passion pour la technologie</p>
            <p>Désir d'apprendre</p>
          </div>
        </div>
        <div class="rounded-md bg slate-400">
          <h2 class="text-3xl font-semibold mb-4 text-right">Centres d'intérêts</h2>
          <div class="text-right">
            <p>Art</p>
            <p>Sport</p>
            <p>Culture Japonaise</p>
            <p>Amateur d'e-sport</p>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer class="bg-blue-950 text-white text-center w-[98.9vw] py-8">
    <h2 class="text-xl font-bold">Contactez-moi</h2>
    <p><strong>Adresse:</strong> 350 La Halboterie, 27310 Barneville-sur-Seine, France</p>
    <p><strong>Email:</strong> hugodebrabander27310&#64;gmail.com</p>
    <p><strong>Téléphone:</strong> 07.81.73.18.12</p>
  </footer>
</div>
