<div class="pt-20 min-h-screen flex flex-col">

    <header class="bg-blue-950 text-white text-center w-[98.9vw]">
      <h1 class="text-4xl md:text-5xl lg:text-6xl py-8">Mon Portfolio</h1>
    </header>
  
    <main class="flex-1">
  
      <section id="about" class="py-10 px-4 md:px-8 lg:px-16">
        <h2 class="text-3xl font-semibold mb-4">À propos de moi</h2>
        <p class="text-justify">[Insérez une brève introduction personnelle ici.]</p>
      </section>
  
      <section id="education" class="py-10 px-4 md:px-8 lg:px-16">
        <h2 class="text-3xl font-semibold mb-4">Parcours Scolaire</h2>
        <div>
          <p>BTS Services informatiques aux organisations, option SLAM - Le Mesnil-Esnard | 2024</p>
          <p>Licence Électronique Énergie Électrique Automatique - Saint-Etienne du Rouvray | 2020-2022</p>
          <p>Baccalauréat Sciences et Technologies de l'Industrie et du Développement Durable, mention Européenne - Pont-Audemer | 2020</p>
        </div>
      </section>
  
      <section id="experience" class="py-10 px-4 md:px-8 lg:px-16">
        <h2 class="text-3xl font-semibold mb-4">Expériences</h2>
        <div>
          <p>Stage en développement web - SGA Mobility | Janvier - Février 2024</p>
          <p>Stage en développement web - Flazio, Sicile | Mai - Juillet 2023</p>
          <p>Employé polyvalent en restauration - Asuka | 2022 - 2023</p>
          <p>Agent logistique - Bip&Go | 2021 / 2022</p>
        </div>
      </section>
  
      <section id="diplomas" class="py-10 px-4 md:px-8 lg:px-16">
        <h2 class="text-3xl font-semibold mb-4">Diplômes</h2>
        <div>
          <p>Certifications ANSSI, RGPD, PIX</p>
          <p>CLES Anglais niveau B1</p>
        </div>
      </section>
  
      <section id="skills" class="py-10 px-4 md:px-8 lg:px-16">
        <h2 class="text-3xl font-semibold mb-4">Compétences</h2>
        <div>
          <p>WEB : HTML, CSS, Tailwind CSS, JS, TS, Angular</p>
          <p>PHP Symfony, Base de donnée : SQL, MySQL, SQL Server</p>
          <p>Logiciel : C#, .NET</p>
        </div>
      </section>
  
      <section id="soft-skills-interests" class="py-10 px-4 md:flex md:justify-between md:items-start md:px-8 lg:px-16">
        <div class="mb-8 md:mb-0">
          <h2 class="text-3xl font-semibold mb-4">Soft skills</h2>
          <div>
            <p>Créativité</p>
            <p>Passion pour la technologie</p>
            <p>Désir d'apprendre</p>
          </div>
        </div>
        <div>
          <h2 class="text-3xl font-semibold mb-4">Centres d'intérêts</h2>
          <div>
            <p>Art</p>
            <p>Sport</p>
            <p>Culture Japonaise</p>
            <p>Amateur d'e-sport</p>
          </div>
        </div>
      </section>
  
    </main>
  
    <footer class="bg-blue-950 text-white text-center w-[98.9vw] py-8">
      <h2 class="text-xl font-bold">Contactez-moi</h2>
      <p><strong>Adresse:</strong> 350 La Halboterie, 27310 Barneville-sur-Seine, France</p>
      <p><strong>Email:</strong> hugodebrabander27310&#64;gmail.com</p>
      <p><strong>Téléphone:</strong> 07.81.73.18.12</p>
    </footer>
  
  </div>
  