<div class="flex flex-col ml-10">
    <!-- Introduction et préparation du projet -->
    <div class="flex flex-col items-center justify-center bg-blue-300 p-6 h-[90vh]">
      <div class="text-center">
        <h2 class="font-bold text-lg mb-4">Introduction au Projet TimeTrack</h2>
        <p>Une solution innovante de suivi du temps de travail.</p>
      </div>
    </div>
  
    <!-- Préparation via des outils de gestion de projet -->
    <div class="h-[90vh] flex items-center justify-center bg-red-300 p-6 flex-col">
      <h4 class="font-semibold">Préparation via des outils de gestion de projet</h4>
      <div class="flex flex-row items-center justify-center">
        <p>La phase de préparation a inclus la mise en place de GitHub pour le versioning, Trello pour la gestion des tâches, et Figma pour la conception de l'UI.</p>
      </div>
    </div>
  
    <!-- Conception de la gestion des données -->
    <div class="h-[90vh] flex flex-col items-center justify-center bg-blue-300 p-6">
      <h3 class="font-bold text-lg mb-4">Conception de la gestion des données</h3>
      <p>Le modèle conceptuel de données (MCD) a été établi pour définir la structure des données, accompagné d'un jeu d'essai pour valider le modèle.</p>
    </div>
  
    <!-- Réalisation du projet -->
    <div class="h-[90vh] flex flex-col justify-between bg-red-300 p-6">
      <div>
        <h4 class="font-semibold">Réalisation du projet</h4>
        <p>Le développement s'est concentré sur la mise en place de procédures stockées pour la gestion des données.</p>
      </div>
    </div>
  
    <!-- Lexique -->
    <div class="h-[90vh] flex items-center justify-center bg-blue-300 p-6">
      <div class="text-center">
        <h4 class="font-semibold">Lexique</h4>
        <p><strong>Repository :</strong> Espace de stockage pour le code source.</p>
        <p><strong>Procédures stockées :</strong> Ensemble d'instructions SQL pour effectuer des opérations complexes sur les données.</p>
      </div>
    </div>
  
    <!-- Conclusion -->
    <div class="flex flex-col justify-between items-center bg-red-300 p-6 min-h-[90vh]">
      <div class="mt-[40vh] text-center">
        <h4 class="font-semibold">Conclusion</h4>
        <p>Le projet TimeTrack offre une approche innovante pour le suivi du temps, en apportant précision et efficacité dans la gestion des heures de travail.</p>
      </div>
    </div>
  </div>
  