<div class="flex flex-col ml-10">
  <!-- Introduction et préparation du projet -->
  <div class="flex flex-col items-center justify-center bg-blue-300 p-6 h-[90vh]">
    <div class="text-center">
        <h2 class="font-bold mb-4 text-2xl p-4">Introduction au Projet TimeTrack</h2>
        <p>Une solution innovante de suivi du temps de travail destinée à améliorer la précision et l'efficacité dans la gestion des heures de travail des employés.</p>
        <div class="flex items-center justify-center h-full">
            <img src="../../assets/timetrack.png" alt="TimeTrack" class="w-auto h-80 m-4">
        </div>
    </div>
</div>


  <!-- Préparation via des outils de gestion de projet -->
  <div class="h-[90vh] flex items-center justify-center bg-red-300 p-6 flex-col">
      <h4 class="font-semibold text-2xl p-4">Préparation via des outils de gestion de projet</h4>
      <div class="flex flex-row items-center justify-center">
          <p class="text-xl">La phase de préparation a inclus la mise en place de GitHub pour le versioning, Trello pour la gestion des tâches, et Figma pour la conception de l'UI. Ces outils ont permis une collaboration efficace et une organisation structurée du projet.</p>
      </div>
      <!-- Image/Logo suggestions -->
      <div class="flex flex-row space-x-4">
          <img src="../../assets/figma2.png" alt="Figma" class="w-auto h-20 m-4">
          <img src="../../assets/trello.png" alt="Trello" class="w-auto h-20 m-4">
          <img src="../../assets/github.png" alt="GitHub" class="w-auto h-20 m-4">
      </div>

  </div>

  <!-- Conception de la gestion des données -->
  <div class="h-[90vh] flex flex-col items-center justify-center bg-blue-300 p-6">
      <h3 class="font-bold text-2xl mb-4 p-4">Conception de la gestion des données</h3>
      <p class="text-xl">Le modèle conceptuel de données (MCD) a été établi pour définir la structure des données, accompagné d'un jeu d'essai pour valider le modèle. Cette étape a assuré une base solide pour le développement de la gestion des données, garantissant l'intégrité et la cohérence des informations.</p>
      <!-- Image/Logo suggestions -->
      <img src="../../assets/mcd.png" alt="MCD" class="w-[750px] h-auto m-4">
  </div>

  <!-- Réalisation du projet -->
  <div class="h-[90vh] flex flex-col justify-between bg-red-300 p-6">
      <div>
          <h4 class="font-semibold text-2xl p-4">Réalisation du projet</h4>
          <p class="text-xl">Le développement s'est concentré sur la mise en place de procédures stockées pour la gestion des données. Cela inclut l'ajout, la mise à jour et la suppression des pointages, ainsi que la gestion des utilisateurs et l'authentification. Ces procédures stockées assurent une manipulation efficace et sécurisée des données au sein de l'application.</p>
          <!-- Image/Logo suggestions -->
    
          <p class="underline text-xl mt-2">Mon environnemment technologique : </p>
          <div class="flex flex-row space-x-4 justify-center">
            <img src="../../assets/clogo.png" alt="MCD" class="w-auto h-20 m-4">
            <img src="../../assets/m-sql-serv.png" alt="MCD" class="w-auto h-20 m-4">
            <img src="../../assets/dotnet.png" alt="MCD" class="w-auto h-20 m-4">
          </div>
          <div class="flex flex-row space-x-4">
            <img src="../../assets/timetrackadmin.png" alt="MCD" class="w-[500px] h-auto m-4">
            <img src="../../assets/timetrackpointage.png" alt="MCD" class="w-[500px] h-auto m-4">
            <img src="../../assets/timetracklogin.png" alt="MCD" class="w-[500px] h-auto m-4">
          </div>

      </div>
  </div>

  <!-- Conclusion -->
  <!-- Conclusion -->
<div class="flex flex-col justify-between items-center bg-red-300 p-6 h-[90vh]">
  <div class="text-center">
      <h4 class="font-semibold text-2xl p-4">Conclusion</h4>
      <p class="text-xl mb-4">Le projet TimeTrack offre une approche innovante pour le suivi du temps, en apportant précision et efficacité dans la gestion des heures de travail. Grâce à son interface utilisateur intuitive et ses fonctionnalités robustes, TimeTrack facilite le suivi et l'analyse du temps de travail, permettant ainsi une meilleure gestion des ressources humaines.</p>
      
      <h5 class="font-semibold text-xl p-4">Ce que j'ai appris :</h5>
      <ul class="text-left text-xl list-disc list-inside">
        <li>Utilisation de GitHub pour la gestion du versioning et la collaboration en équipe.</li>
        <li>Développement et optimisation de procédures stockées SQL pour la gestion des données.</li>
        <li>Importance des tests et de la validation pour garantir la fiabilité des fonctionnalités développées.</li>
    </ul>


  </div>
</div>

</div>